{% extends "pages/index.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}{% endblock %}
{% block body %}
{% let base_input_class = "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset
ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 invalid:ring-2
invalid:ring-inset invalid:ring-red-400 valid:ring-2 valid:ring-inset valid:ring-green-400" %}
<main class="flex-grow">
    <div class="flex min-h-full flex-1 flex-col justify-items-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h1 class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
                Register your account
            </h1>
        </div>
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form class="space-y-6" hx-post="/sign-up" hx-swap="outerHTML"
                hx-on:input="
                    event.target.setCustomValidity('');
                    if (!event.target.checkValidity()) {
                        event.target.setCustomValidity(event.target.id == 'email' ? '{{email_invalid_message}}' : '{{password_invalid_message}}')
                    } else if(this.password.value != this.password_confirmation.value) {
                        this.password_confirmation.setCustomValidity('{{password_confirmation_error_message}}');
                    }">
                <div>
                    <label class="block text-sm font-medium leading-6 text-gray-900" for="email">
                        Email address:
                    </label>
                    <input autofocus required id="email" name="email" autocomplete="email" aria-required="true"
                        class="{{base_input_class}}" placeholder="your@email.com" title="{{email_title}}"
                        pattern="{{email_pattern}}">
                </div>
                <div>
                    <label class="block text-sm font-medium leading-6 text-gray-900" for="password">
                        Password:
                    </label>
                    <input required id="password" name="password" type="password" autocomplete="password"
                        aria-required="true" class="{{base_input_class}}" placeholder="********"
                        title="{{password_title}}" pattern="{{password_pattern}}">
                </div>
                <div>
                    <label class="block text-sm font-medium leading-6 text-gray-900"
                        for="password_confirmation">
                        Confirm password:
                    </label>
                    <input required id="password_confirmation" name="password_confirmation" type="password"
                        autocomplete="password" aria-required="true" class="{{base_input_class}}" placeholder="********"
                        title="{{password_confirmation_title}}" pattern="{{password_pattern}}">
                </div>
                <div class="g-recaptcha" data-sitekey="{{data_sitekey}}"></div>
                <button type="submit" class="flex w-full justify-center rounded-md 
                        bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 
                        text-white shadow-sm hover:bg-indigo-500 
                        focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 
                        focus-visible:outline-indigo-600">
                    Sign up
                </button>
            </form>
            <p class="mt-10 text-center text-sm text-gray-500">
                Already registered?
                <a href="/login" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Log in
                    here</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}